<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials/head') %>
</head>
<body>
    <h1>Nuestro número de telefono es: 123-231-9283</h1>

    <%- include('partials/navigation') %>
</body>
</html>