body {
    background: white;
    color: black;
}
/* Icono de NS del navegador */
.icono-ns {
    width: 50px;
    height: 50px;
}
/* Imagenes del carrusel */
.c-img {
    height: 100%;
    object-fit: cover;
}
.c-item {
    height: 80vh; /* 60% del alto de la ventana */
}
/* Imagenes de conocenos */
.img-conocenos {
    width: 200px;
    height: 200px;
}
/* Imagen de que es el dtf y serigrafia */
.img-dtf-seri {
    width: 450px;
    height: 550px;
    border-radius: 30%;
}
/* Animación CSS para imagenes */
.contenedor:hover .imagen {
    -webkit-transform:scale(0.9);
    transform:scale(0.9);
    transition: 1s;
}
.contenedor {
    overflow:hidden;
}

/* Responsividad */
@media (max-width: 1200px) {
    .c-item {
        height: 40vh;
    }
}
@media (max-width: 900px) {
    .c-item {
        height: 40vh;
    }
}
@media (max-width: 720px) {
    .c-item {
        height: 40vh;
    }
}
@media (max-width: 1000px) {
    .ajustar {
        width: 80%;
        object-fit: cover;
    }
}