<footer>
    <h1>Lorem, ipsum dolor.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Quam esse, officia ad provident, delectus accusamus 
        corrupti, debitis quis distinctio odit rem recusandae 
        qui enim. Officiis reiciendis amet labore suscipit 
        facilis sunt maxime eos deserunt tenetur. Sed, sint 
        explicabo. Unde eaque nulla numquam facere voluptatum 
        ducimus ad nam deserunt, dolores similique ipsam quo. 
        Expedita nihil nam aliquid id delectus accusantium 
        assumenda, dolor inventore itaque deleniti ipsum 
        voluptas consequuntur optio ipsa ducimus! Corrupti, 
        debitis? Dignissimos repellendus iste, eum laudantium 
        at id aliquam sapiente reiciendis consequatur magnam? 
        Nostrum, obcaecati praesentium perferendis eius totam 
        ipsa ab tempora veritatis necessitatibus omnis delectus 
        amet voluptatem alias nulla corrupti commodi ea voluptate 
        provident rerum. Nesciunt expedita eius et fugit blanditiis 
        rem. Amet nulla nesciunt esse rerum quos earum quaerat quo 
        velit exercitationem. Ea iure hic quo, quis obcaecati 
        adipisci aspernatur assumenda quos tempore blanditiis 
        nostrum natus accusantium, magni laudantium ipsum. Fuga, 
        libero dignissimos, porro minus placeat ratione voluptatem, 
        veritatis ad non voluptatibus accusamus esse ut culpa ipsam 
        aperiam cum ullam. Facilis placeat debitis consequuntur 
        earum error, asperiores cupiditate voluptatem a minus. 
    </p>
</footer>