<% if (user) { %>
  
<% } else { %>
  <a href="/login">Iniciar sesión</a>
<% } %>

<nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/img/ns-removebg-preview.png" class="icono-ns" alt="...">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">
            Bienvenid@, <%= user.name %>!
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Conocenos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/catalogo">Catálogo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/carrito" title="Carrito de compras">
            <i class="bi bi-cart-fill"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout" title="Cerrar sesión">
            <i class="bi bi-door-closed-fill"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>